#leftSide {
    width: 500px;
    height: 500px;
    position: absolute;

}
#rightSide {
    position: absolute;
    width: 500px;
    height: 500px;
    left: 500px;
    border-left: 1px solid black;

}

img {
    position: absolute;
    height: 150px;
    width: 150px;

}
 div {
    background-image: url("grass.jpg");
    }


h3 {
    position: relative;
    color: forestgreen;
}